<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hensen.teachercontent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.TeachActivity" />
        <activity android:name=".Activity.ContentActivity" />
        <activity android:name=".Activity.JobActivity" />
        <activity android:name=".Activity.CourseActivity" />
        <activity android:name=".Activity.ThemeActivity" />
        <activity android:name=".Activity.ShareActivity" />
        <activity android:name=".Activity.VideoActivity" />
        <activity android:name=".Activity.TeachDetailActivity" />
        <activity android:name=".Activity.CourseDetailActivity" />
        <activity android:name=".Activity.ThemeDetailActivity" />
        <activity android:name=".Activity.AboutActivity" />
        <activity android:name=".Activity.CareerActivity" />
    </application>

</manifest>